{% extends "base.html" %}
{% block base %}
    <div class="login-page">
        <div class="form">

            <form class="register" method="post">
                <input type="text" placeholder="email address" name="email" required/>
                <input type="password" placeholder="password" name="password" required/>
                {% if existance %}
                    <h4>E-mail has an account associated</h4>
                {% endif %}
                <p class="message">Already registered? <a href='{{ url_for('login') }}'>Sign In</a></p>
                <button>create</button>
            </form>
        </div>
    </div>
{% endblock %}